{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "expect": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "warn"
  }
}
